<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="lmras.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Content-Security-Policy" value="default-src 'self'"/>
        <add name="X-Content-Security-Policy" value="default-src 'self'"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <authentication>
        <!--<windowsAuthentication AuthPersistNonNTLM="true"></windowsAuthentication>-->
      </authentication>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="100000000" executionTimeout="3600"/>
    <identity impersonate="true"/>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2">
      <compilers>
        <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/>
      </compilers>
      <assemblies>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <!-- <customErrors mode="On" defaultRedirect="Error" /> -->
    <!--<customErrors mode="RemoteOnly" />-->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <webServices>
      <soapExtensionTypes/>
    </webServices>
    <xhtmlConformance mode="Legacy"/>
    <trust level="Full"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewState="false"/>
  </system.web>
  <appSettings>
    <add key="XSLT_PATH_COMMON" value="\DeskbookSAM\english\atrium\common\xsl\"/>
    <add key="DESKBOOK_SAM_PATH_XSL" value="\DeskbookSAM\english\atrium\content_manager\include\xsl\"/>
    <add key="DESKBOOK_CONTENT_MANAGER_PAGES" value="\DeskbookSAM\english\atrium\content_manager\content_manager_pages\"/>
    <add key="DATABASE1" value="Data Source=JUPEMBSQL01\JUPSQLINST10;Initial Catalog=atrium-training;"/>
    <add key="DATABASE2" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="OwnerEng" value="Collections Litigation and Advisory Services"/>
    <add key="OwnerFre" value="Conseils juridiques et litiges - recouvrements"/>
    <add key="AppNameEng" value="AtriumCLAS"/>
    <add key="AppNameFre" value="AtriumCLAS"/>
    <add key="LoadXMLFromDB" value="true"/>
    <add key="UseDBAuthentication" value="true"/>
    <add key="LocalPathToXML" value="Y:/webs/lmras/deskbook-livre/english/atrium/common/xml/"/>
    <add key="LocalPathToXSL" value="Y:/webs/lmras/deskbook-livre/english/atrium/common/xsl/"/>
    <add key="DBConnUserName" value="lmadmin"/>
    <add key="DBConnPassword" value="q@95Wpnx"/>
    <add key="HHUseIP" value="true"/>
    <add key="SQLUserNameForWorkflow" value="lmadmin"/>
    <add key="SQLPasswordForWorfklow" value="q@95Wpnx"/>
    <add key="atMediaRoot" value="/atmedia"/>
    <add key="CacheImages" value="false"/>
    <!-- no ending slash-->
  </appSettings>
  <microsoft.web.services2>
    <diagnostics/>
  </microsoft.web.services2>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="20m" renewOnCallTime="20m" sponsorshipTimeOut="100ms"/>
      <service>
        <activated type="atriumDAL.DirectHelper,atriumDAL"/>
        <activated type="atriumDAL.atriumDALManager,atriumDAL"/>
        <activated type="atSecurityDAL.SecDALManager,atSecurityDAL"/>
      </service>
      <channels>
        <!--<channel ref="http" machineName="http://otvatrweb">-->
        <channel ref="http" machineName="http://localhost">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Low"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <applicationSettings>
    <lmras.Properties.Settings>
      <setting name="alias" serializeAs="String">
        <value>lawmate.secure:80</value>
      </setting>
      <setting name="useAlias" serializeAs="String">
        <value>False</value>
      </setting>
    </lmras.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>-->
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging
              logEntireMessage="false"
              logMalformedMessages="true"
              logMessagesAtServiceLevel="true"
              logMessagesAtTransportLevel="false"
              maxMessagesToLog="500"
              maxSizeOfMessageToLog="5000"/>
    </diagnostics>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--<service name="lmras.ADMS_Lookup">
        <endpoint binding="wsHttpBinding" contract="lmras.IADMS_Lookup"/>
      </service>-->
      <service behaviorConfiguration="serviceBehavior" name="lmras.AtriumX">
        <endpoint name="basicAtriumX" binding="basicHttpBinding" bindingConfiguration="httpLargeMessageStream" contract="lmras.IAtriumX"/>
        <endpoint address="mex" binding="basicHttpBinding" bindingConfiguration="httpLargeMessageStream" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="httpLargeMessageStream" allowCookies="true" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="100524288" messageEncoding="Mtom">
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="">
              -->
          <!--<extendedProtectionPolicy policyEnforcement="WhenSupported"/>-->
          <!--
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>-->
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <!--<wsHttpBinding>
        <binding name="httpLargeMessageMTOM" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" messageEncoding="Mtom">
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>-->
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>