<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LawMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LawMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LawMate.Properties.Settings.atriumConnectionString" connectionString="Data Source=ASPTEKS2;Initial Catalog=lawmate;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <userSettings>
    <LawMate.Properties.Settings>
      <setting name="bgcolor" serializeAs="String">
        <value>Control</value>
      </setting>
    </LawMate.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--<system.runtime.remoting>
    <application>
      <channels>
        -->
  <!--<channel name="atrium"  ref="http client" port="0">
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>-->
  <!--
      </channels>
      <client url="https://www.asptek.ca/lmras">
        -->
  <!--	<activated
       type="atriumDAL.atriumDALManager,atriumDAL"
            />-->
  <!--
        -->
  <!--<activated type="atSecurityDAL.SecDALManager,atSecurityDAL" />-->
  <!--
      </client>
      <service>
      </service>
    </application>
  </system.runtime.remoting>-->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<add name="delimitedListener" type="System.Diagnostics.DelimitedListTraceListener" delimiter=":" initializeData="log" traceOutputOptions="DateTime" />-->
        <!--<remove name="Default" />-->
        <!--<add name="CheckpointListener" type="SlickEdit.MSVSP.QuickProfileLib.CheckpointListener, QuickProfileLib, Version=1.1.0.1, Culture=neutral, publicKeyToken=bf81d2044fa6b642" initializeData="QuickProfilingData.qpd" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <LawMate.Properties.Settings>
      <setting name="LawMate_ReportingService_ReportingService2005" serializeAs="String">
        <value>http://ASPTEKS3:80/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="NumberOfAllowedOpenFiles" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UseSeparatePersonalFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IdleTimeDefault" serializeAs="String">
        <value>3600000</value>
      </setting>
      <setting name="SingleInstance" serializeAs="String">
        <value>False</value>
      </setting>
    </LawMate.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IADMS_Lookup" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="false" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="basicAtriumX" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true" useDefaultWebProxy="true" maxBufferPoolSize="524288" maxBufferSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />

          <security mode="None">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="">
              <!--<extendedProtectionPolicy policyEnforcement="WhenSupported" />-->
            </transport>
          </security>
        </binding>
        <binding name="secureAtriumX" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true" useDefaultWebProxy="true" maxBufferPoolSize="524288" maxBufferSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />

          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="">
              <!--<extendedProtectionPolicy policyEnforcement="WhenSupported" />-->
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    
    </bindings>
    <client>
      <endpoint address="http://intradev-i.sade-edap.prv/AS-SA/SSTWS-TSSWS/ADMS_LookupWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IADMS_Lookup" contract="IADMS_Lookup" name="BasicHttpBinding_IADMS_Lookup"/>
      <endpoint address="http://localhost:56184/lmras/AtriumX.svc" binding="basicHttpBinding" bindingConfiguration="basicAtriumX" contract="AtriumX.IAtriumX" name="basicAtriumX">


      </endpoint>
    </client>
  </system.serviceModel>

</configuration>
