body {padding-top: 50px; font-family:Calibri}
div.toc {padding:6px;margin-right:4px;}
div.frmContent {margin-left:6px;padding:0px;padding-right:12px;margin-right:200px;}
#AtImg {margin-top:12px;}
.pnlToc {background-color:#efefef;border:1px solid #dfdfdf;margin-bottom:0px;}
.scrnHdr {margin:0px;color:darkred;padding:3px 2px 3px 12px;font-size:1.4em;}
.bcc{margin:0px 5px 0px 5px;padding:10px}
.toc .panel .panel-heading {padding:4px;border:0px;}
.toc .panel .panel-collapse .panel-body {margin:0px;padding-top:4px;font-size:.9em;}
.tocAnchor {font-size:1em;font-weight:bold;color:black;text-decoration:underline;}
.tocLbl {width:120px;font-weight:normal;}
.flIcn {margin-right:6px;}
.tocV {font-weight:bold;}
.tocDDDiv {margin-left:8px;display:inline;}
.tocDD {padding:6px 8px 6px 8px;font-size:.95em;line-height:1.22;width:400px; margin-top:6px;border:2px solid black;}
.brandicon {margin-top:-3px;margin-right:4px;}
.marBottom {margin-bottom:22px;margin-top:10px;}
.control-label {font-size:small}
.atTbl thead tr th{font-size: .85em;background-color:#efefef;color:#636363;padding-top:0px;padding-bottom:0px;margin-top:0px;border-bottom:1px solid #cecece;}
.atTbl tbody tr td{font-size: .9em;padding-top:2px;padding-bottom:2px;}
.statusO {background-color:blue; font-size:.9em;}
.statusM {background-color:red; font-size:.9em;}
.statusP {background-color:orange; font-size:.9em;}
.statusR {background-color:blue; font-size:.9em;}
.statusC {background-color:fuchsia; font-size:.9em;}
.statusA {background-color:navy; font-size:.9em;}
.badgeLbl{position:relative;top:-4px;}
.atTblTop tbody tr td{border:none !important;}
.atTblTop tbody tr.tRow td{border-top:1px solid #eaeae8 !important;}
.selectRow {background-color:steelblue !important;color:white;}
.pnlA5 {margin:12px 0px 6px 0px;padding:0px;}
.pnlA5grid {margin:6px 18px 6px 6px;border:none;}
.pnlA5 .panel-heading {margin:0px;padding:4px;}
.pnlA5 .panel-title {font-weight:bold;font-size:.85em;}
.pnlA5 .panel-body, .pnlA5grid .panel-body{margin:0px;padding:0px;}
.pnlA5 .panel-body .form-group, .pnlA5grid .panel-body .form-group, .frmAt{padding:0px;margin:0px;}
.frmAt {margin-left:0px !important;}
.form-control-static {padding:0px;margin:0px;}
.control-label {padding:0px;margin:0px;margin-top:-4px !important;}
.tblCaption {background-color:#efefef;color:#363636;font-weight:bold;font-size:1em;margin-bottom:0px;padding-left:3px;margin-top:12px;}
.pnlHd {background-color:#efefef !important;color:#363636 !important;}
.btn-grid {padding:0px 5px 0px 5px;}
.modal-lg{width: 80%;}
.modal-header {margin:0px;padding:0px;}


