@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center;width:780px;margin-top:40px;">
    <img alt="" src="workflow/images/atriumlogo.png" /><br />
    <div style="float:left;width:390px;">
        <h2>
            Welcome to Atrium
        </h2>
        <p>
            <a href="deploy/AtriumInstall.msi">Install Atrium</a>
        </p>
        <p>
            <a href="deskbook/english/">Atrium Deskbook</a>
        </p>
        <p>
            <a href="workflow/">Atrium Workflow Documentation Centre</a>
        </p>
        <p>
            <a href="home/login">Atrium Web</a>
        </p>
    </div>

    <div style="float:right;width:390px;">
        <h2>
            Bienvenue à Atrium
        </h2>
        <p>
            <a href="deploy/AtriumInstall.msi">Installer Atrium</a>
        </p>
        <p>
            <a href="deskbook/francais/">Manuels d'instructions Atrium</a>
        </p>
        <p>
            <a href="workflow/">Centre de documentation de processus Atrium</a>
        </p>
        <p>
            <a href="home/login">Atrium Web</a>
        </p>

    </div>
</div>