<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="lmDatasets.Properties.Settings.lawmateConnectionString"
      connectionString="Data Source=aspteks2;Initial Catalog=lawmate;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.lawmate_DataConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL\Data\lawmate_Data.MDF&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.lawmateConnectionString1"
      connectionString="Data Source=aspteks2;Initial Catalog=lawmate;Persist Security Info=True;User ID=sa;Password=PanDa*2387"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.lawmateConnectionString2"
      connectionString="Data Source=atrium;Initial Catalog=lawmate;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.craLawmateConnectionString"
      connectionString="Data Source=ASPTEKS2;Initial Catalog=craLawmate;Persist Security Info=True;User ID=sa;Password=PanDa*2387"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.atriumConnectionString"
      connectionString="Data Source=aspteks3;Initial Catalog=atrium;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.LawmateDevConnectionString"
      connectionString="Data Source=aspteks3;Initial Catalog=LawmateDev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.LawmateSSTConnectionString"
      connectionString="Data Source=aspteks3;Initial Catalog=LawmateSST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.atriumPRODConnectionString"
      connectionString="Data Source=aspteks3;Initial Catalog=atriumPROD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.Lawmate_DEVConnectionString"
      connectionString="Data Source=mlap1092\inst01;Initial Catalog=Lawmate_DEV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lmDatasets.Properties.Settings.Atrium_TrainingConnectionString"
      connectionString="Data Source=&quot;7.32.24.141, 53385&quot;;Initial Catalog=Atrium-Training;User ID=lmadmin;Password=q@95Wpnx;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default"/>
        <add name="CheckpointListener" type="SlickEdit.MSVSP.QuickProfileLib.CheckpointListener, QuickProfileLib, Version=1.1.0.1, Culture=neutral, publicKeyToken=bf81d2044fa6b642" initializeData="QuickProfilingData.qpd"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
