#oISAM{position:relative;top:20px;margin-top:20px;}
#dataTbl{border:1px solid #666;margin-left:0px;}
#dataTbl tr th{border:1px solid #666;text-align:left;font-weight:bold;}
#dataTbl tr td{border:1px solid #666;padding:5px;font-size:0.9em;}
.trbg{background-color:#f3f3f3;}
.tdr{text-align:right}
.tbl-data{font-size:0.85em;}
.tbl-data tr td{padding:3px;}
.textUnderline {text-decoration:underline;}
.parIndent20{margin-left:20px;}
.parIndent40{margin-left:40px;}
.parIndent60{margin-left:60px;}
