#b1{background-image:none;background-color:white;padding:8px;}
img{padding-right:3px;position:relative;bottom:-2px;}
#hdr{border-bottom:2px solid steelblue;display:block;}
#awdc{float:left;font-family:Calibri;font-size:large;font-weight:bold;margin:8px 0px 0px 8px;}
#mnlg{font-family:Calibri;font-size:large;font-weight:bold;width:800px;text-align:center;margin:auto;margin-top:60px;}
#atlg{vertical-align:middle;margin:12px;}
#aeng{float:left;margin:auto;width:380px;text-align:center;margin-left:40px;}
#afre{float:right;margin:auto;width:380px;text-align:center;}
.bc{margin-left:51px;position:relative;top:-14px;font-size:0.65em;font-weight:normal;font-family:Tahoma;}
a{color:Blue;}
a:link{color:Blue;}
a:visited{color:Blue;}
.mid{vertical-align:middle;position:relative;bottom:2px;padding-right:8px;}
/*.hm{font-size:0.8em;}*/
.module-versatile{font-size:1.1em;}
.module-versatile tr td{text-align:left;}
.module-versatile tr td:first-child + td{font-weight:bold;font-size:0.85em;}
.module-versatile2{font-size:1.1em; margin-bottom:22px;}
.module-versatile2 tr td{text-align:left;}
.module-versatile2 tr th{font-weight:bold;font-size:0.85em;}
.module-versatile2 tr td.wfStatus{text-align:center;}
.module-versatile3{font-size:1.0em; margin-bottom:22px;}
.module-versatile3 tr td{text-align:left;font-size:0.9em;}
.module-versatile3 tr th{font-weight:bold;font-size:0.85em;}
.module-versatile2 tr td.cntr, .module-versatile3 tr td.cntr{text-align:center;}
.grp{padding-left:6px;font-weight:bold;color:maroon;background-color:cornsilk;border:none;}
.spcr{border:none;background-color:cornsilk;border:none;}
.navlink:link{padding:6px;line-height:22px;}
.navlink:visited{padding:6px;line-height:22px;}
.navlink:hover{padding:6px;line-height:22px;color:Red;}
tr.trMOver{background-color:#fafafa;color:Blue;cursor:hand;}
tr.trMOut{background-color:white;color:Black;cursor:default;}
.module-versatile3 tr td:first-child+td{border-left:1px solid #86a6b8;}
.module-versatile3 tr td.bt{border:none;border-top:1px solid #86a6b8;border-bottom:1px solid #86a6b8}
.module-versatile3 tr td.lst{border:1px solid #86a6b8;border-left:none;}
.tbfo{text-align:right;padding-right:45px;border:0;}
.nbrdr{border-bottom:1px;border-left:0;border-right:0;}
.aBtn:link{background-color:#f0f0f0;font-weight:bold;font-size:0.9em;padding:6px;color:steelblue;}
.aBtn:visited{background-color:#f0f0f0;font-weight:bold;font-size:0.9em;padding:6px;color:steelblue;}
.xfer{border:1px solid darkorange; background-color:lightyellow;padding:12px;margin:11px 0px 0px 16px;float:left}
.xfer img{vertical-align:middle;padding:0 6px 3px 0;}
.bx{border:1px solid #aaaaaa;background-color:#f6f6f6;padding:6px;margin-top:2px;padding-bottom:12px;}
.stepstart{padding:8px 10px 8px 10px;background-color:White;border:1px solid #cacaca;margin-top:10px;float:left;}
.stpLnk{background-color:#f6f6f6;;padding:4px 10px 4px 10px;border:1px solid #aaaaaa;float:left;margin-bottom:-3px;border-bottom:none;z-index:4000;}
.stpLnk3{border:1px solid #aaaaaa;}
.stpLnk2{background-color:#dadada;color:maroon;padding:4px 10px 4px 10px;border:1px solid #aaaaaa;float:left;margin-bottom:-3px;border-bottom:none;z-index:4000;}
.stpLnk2 img{padding-right:6px;}
#includeObsolete{float:left;padding-left:6px;margin-bottom:-3px;padding-top:2px;}    
#includeObsolete a:link{font-size:0.9em;}
#includeObsolete a:visited{font-size:0.9em;}
.dvindnt{margin-left:20px;}
.bVis{background-color:white;padding:1px 4px 0px 4px;border:1px solid steelblue;color:steelblue;font-size:0.9em;font-family:Calibri;font-weight:bold;position:relative;top:-2px;}
.aEdit:link{background-color:#eaeaea;padding:3px 6px 2px 4px;text-decoration:none;color:blue;font-size:0.9em;font-family:Calibri;font-weight:bold;}
.aEdit:hover{background-color:#c3c3c3;}
.aEdit:visited{background-color:#eaeaea;padding:3px 6px 2px 4px;text-decoration:none;color:blue;font-size:0.9em;font-family:Calibri;font-weight:bold;}
.aEdit img{position:relative;top:3px;}
.aEdit2{background-color:#eaeaea;padding:3px 6px 2px 4px;text-decoration:none;color:blue;font-size:0.9em;font-family:Calibri;font-weight:bold;}
.aEdit2:hover{background-color:#c3c3c3;}
.nxtStps{padding:12px;border:1px solid #cacaca;background-color:White;float:left;}
.ultop{margin-left:0px;}
.ulin{margin-left:20px;padding-top:3px;}
.ulinsub{margin-left:55px;padding-top:3px;}
li.subprocess{list-style-type: none;background: url('../images/subprocess.png') no-repeat left;padding:3px;padding-left: 22px;} 
li.recorded{list-style-type: none;background: url('../images/act.png') no-repeat left;padding:3px;padding-left: 22px;} 
li.recordedAuto{list-style-type: none;background: url('../images/act.png') no-repeat left;padding:0px 3px 6px 22px;background-color:lightyellow;border:1px solid orange;position:relative;top:-6px;left:2px;} 
li.decision{list-style-type: none;background: url('../images/decision.png') no-repeat left;padding:3px;padding-left: 22px;} 
li.internaldecision{list-style-type: none;background: url('../images/sillyquestion.png') no-repeat left;background-color:#e0e0e0;color:#3a3a3a;padding:2px;padding-left: 22px;} 
li.nonrecorded{list-style-type: none;background: url('../images/nonrecorded.png') no-repeat left;padding:3px;padding-left: 22px;} 
div.answer{display:inline-block;background-color:white; padding:2px 4px 2px 4px;min-width:10px;text-align:center;font-weight:bold;color:darkorange;font-size:0.9em;}
div.auto{display:inline-block;background-color:lightyellow; padding:2px 4px 2px 4px;width:80px;text-align:center;font-weight:bold;color:blue;font-size:0.9em;}
    
.naw{margin-left:40px;border:none;padding:0px;width:722px;background-color:#DAEAFC;}
.docnaw{margin-left:40px;width:904px;background-color:#DAEAFC;}
.pickissuenaw{width:740px;background-color:#DAEAFC;}
.schdlnaw{width:836px;}
.naw tr td{border:none;padding:0px;}
.nawTL{background: url('../images/nawLT.png') no-repeat left;height:3px;width:3px;min-width: 3px;  max-width: 3px; }
.nawT{background: url('../images/nawTB.png');height:3px;}
.nawTR{background: url('../images/nawRT.png') no-repeat left;height:3px;width:3px;min-width: 3px;  max-width: 3px; }
.nawL{background: url('../images/nawL.png');width:3px;}
.nawhdrttl{font-family:Calibri;font-weight:bold;padding:4px 0px 10px 6px;}
.nawhdrttl img{position:relative;top:3px;}
.nawhdrtext{font-family:tahoma;font-size:0.85em;padding:0px 0px 12px 26px;}
    
.docheader{background: url('../images/docHeader.png') no-repeat left;height:118px;}
.doccontent{background: url('../images/doccontent.png') no-repeat left;height:402px;}
#docTemplate{margin:auto;width:400px;height:30px;position:relative;top:216px;border:1px solid blue;background-color:#dedede;text-align:center;padding-top:4px;}
.schdlHead{background: url('../images/schedulingHeader.png') no-repeat left;height:180px;}
.schdlTimeline{background: url('../images/schedulingTimeline.png') no-repeat 50% 0%;height:266px;}
.pickissue{background: url('../images/selectissue.png') no-repeat left;height:415px;}
#defSubject{position:relative;left:386px;top:124px;font-family:Tahoma;}
#defAttendees{position:relative;left:64px;top:95px;font-family:calibri;font-weight:bold;color:darkslateblue;}
#oPrimIss{position:relative;left:448px;top:42px;font-family:Tahoma;font-size:0.85em;}
    
    
    
.footerBtnBar{float:right;padding:0px 12px 0px 0px;height:30px;}
.footerBtnBar img{padding-right:8px;}
.nawcontent{}
.ttlBar{background: url('../images/titlebarBG.png');}
.ttlBarLeft{float:left;font-family:Tahoma;font-weight:bold;color:White;font-size:0.85em;padding-left:3px; height:20px;position:relative; top:-2px;}
.ttlBarLeft img{position:relative; top:4px;}
.ttlBarRight{float:right;margin:0px;}
.nawR{background: url('../images/nawR.png');width:3px;}
.nawBL{background: url('../images/nawLB.png') no-repeat left;height:3px;width:3px;}
.nawB{background: url('../images/nawBottom.png') ;height:3px;}
.nawBR{background: url('../images/nawRB.png') no-repeat left;height:3px;width:3px;}
    
    
.rlfldlayout{width:717px; padding:15px;padding-bottom:40px;}
.rlfldtbl{border:0px;background-color:transparent;font-family:Tahoma;font-size:0.85em;margin-left:30px;}
.rlfldtbl tr td{border:0px;padding:4px;}
.rlfldtbl tr td:first-child{width:220px;padding-left:3px;}
.rlfldtbl tr td:first-child + td{width:540px;padding-left:6px;}
.tb{background: url('../images/tb.png') no-repeat left;height:16px;}
.tbReq{background: url('../images/tbReq.png') no-repeat left;height:16px;}
.tbRO{background: url('../images/tbRO.png') no-repeat left;height:16px;color:#303030;}
.tbRO div{display:inline;}
.t{background: url('../images/t.png') no-repeat left;height:60px;}
.tReq{background: url('../images/tReq.png') no-repeat left;height:60px;}
.tRO{background: url('../images/tRO.png') no-repeat left;height:60px;}
.c{background: url('../images/c.png') no-repeat left;height:16px;}
.cRO{background: url('../images/cRo.png') no-repeat left;color:#aaaaaa;}
.cReq{background: url('../images/cReq.png') no-repeat left;height:16px;}
.ad{background: url('../images/ad.png') no-repeat left;height:16px;}
.adLabels{background: url('../images/adLabels.png') no-repeat left;height:124px;}
.a{background: url('../images/a.png') no-repeat left;height:16px;}
.aReq{background: url('../images/aReq.png') no-repeat left;height:16px;}
.aReq div, .a div{padding-left:100px;color:#696969;height:16px;}
.a .hlpicn, .aReq .hlpicn{padding:0px 0px 6px 99px;cursor:help;}
.tb .hlpicn, .tbReq .hlpicn{margin:0 0 5px 348px;cursor:help;}
.x{background: url('../images/x.png') no-repeat left;height:16px;}
.xRO{background: url('../images/xRO.png') no-repeat left;height:16px;}
.xRO div, .x div{padding-left:12px;color:#363636;}
.selIssue{background: url('../images/selIssue.png') no-repeat left;height:16px;}
.selIssueReq{background: url('../images/selIssueReq.png') no-repeat left;height:16px;}
.selContact{background: url('../images/selContact.png') no-repeat left;height:16px;}
.selContactReq{background: url('../images/selContact.png') no-repeat left;height:16px;}
.selContact div, .selContactReq div, .selOffice div, .selOfficeReq div{padding-left:18px;color:#363636;height:16px;}
.selOffice{background: url('../images/selOffice.png') no-repeat left;height:16px;}
.selOfficeReq{background: url('../images/selOfficeReq.png') no-repeat left;height:16px;}
.selParty{background: url('../images/selParty.png') no-repeat left;height:16px;}
.selPartyReq{background: url('../images/selPartyReq.png') no-repeat left;height:16px;}
.warn{background-color:lightyellow;padding:6px;color:red;width:460px;border:1px solid red;text-align:center;}
.warn img{padding-right:8px;}
.icPrompt{background: url('../images/issueControl2.png') no-repeat left;height:235px;width:680px;min-width: 680px;  max-width: 680px;}
.icSetOutcome{background: url('../images/issueControl3.png') no-repeat left;height:210px;width:680px;min-width: 680px;  max-width: 680px;}
.icNone{background: url('../images/issueControl1.png') no-repeat left;height:210px;width:680px;min-width: 680px;  max-width: 680px;}
    
div.layoutbg{width:600px;padding:0px;background-color:White;border:1px solid #86a6b8;}
.layoutGrid{font-family:Tahoma;margin:0px;position:relative;left:-11px;top:-1px;border:none;border-left:1px solid #86a6b8;}
.layoutGrid tr th{background: url('../images/gridHdrBg.png');height:15px;border:0px;text-align:left;border-bottom:1px solid #86a6b8;font-weight:normal;color:Black;padding:2px;padding-left:0px;min-width: 128px;  max-width: 128px; overflow: hidden;}
.layoutGrid tr th:first-child{border-left:1px solid #86a6b8;padding-left:4px;}
.layoutGrid tr th.lst{border-right:1px solid #86a6b8}
.layoutGrid tr th.grdCaption{height:16px;border:1px solid #86a6b8;color:Black;text-align:left;font-weight:bold;padding:2px;padding-left:4px;}
.pipe{color:#86a6b8;}
.grdx{background: url('../images/x.png') no-repeat 50% 6%;}
.grdcReq{background: url('../images/gridmcreq.png') no-repeat 50% 2%;}
.layoutGrid tr td.fkRow{height:16px;padding:4px 2px 2px 4px;height:100px;min-width: 108px;  max-width: 108px;  overflow: hidden;vertical-align:text-top;}
#docRecs{position:relative; top:31px;left:60px;font-size:0.9em;font-family:Tahoma;height:21px;width:834px;padding:4px 0px 0px 2px;}
#docMail{position:relative; top:37px;left:64px;font-size:0.9em;font-family:Tahoma;height:21px;width:834px;}
#docMail img{position:relative; top:1px;left:-2px;padding-right:3px;margin-bottom:-3px;}
#docAttachments{position:relative; top:43px;left:85px;}
.attachObject{background: url('../images/docAttachment.png') no-repeat left;padding:4px 0px 0px 25px;height:22px;font-family:Tahoma;font-size:0.9em;}
.aTp{width:120px;margin-left:auto;margin-right:auto;padding-top:12px;padding-bottom:12px;}
.aTp a:link, .aTp a:visited{color:darkslateblue;text-decoration:none;}
.aTp a:hover{text-decoration:none;color:Red;}
.btt{position:relative;left:10px;top:2px;display:inline-block;width:135px;text-align:center;padding:2px;}
.btt a:link, .btt a:visited{color:darkslateblue;text-decoration:none;}
.btt a:hover{text-decoration:none;color:Red;}
    
.btp{display:inline;}
.btp a:link{color:darkslateblue;text-decoration:none;}
.btp a:hover{text-decoration:underline;color:Red;}
.hnd{cursor:hand;}
.obsReload{display:none;}
.obsReloadA{display:inline-block;border:1px solid darkorange; background-color:lightyellow;color:red;padding:4px;margin:-15px 0px 0px 8px;}
.ail:link, .ail:visited{text-decoration:none;}
.trinc{background-color:#ffffe6;}
.trinc td{border-top:1px solid steelblue;}
.ag:link{background-color:steelblue;color:White;padding:8px 10px 8px 10px;text-decoration:none;font-weight:normal;}
.ag:visited{background-color:steelblue;color:White;padding:8px 10px 8px 10px;text-decoration:none;font-weight:normal;}
.ag:hover, .ag:focus{background-color:lightsteelblue;color:maroon;border:1px solid maroon;}
.lang:link, .lang:visited{margin-left:10px;display:inline-block;text-align:right;float:right;}